@mixin subtitle-style {
  height: 40px;
  background-color: #CE7476;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  h2 {
    padding-left: 17px;
  }
}

$pc: 680px;

@mixin pc {
  @media(min-width: ($pc)) {
    @content;
  }
}

body {
  font-size: 14px;
  color: #333333;
  a {
    color: #333333;
    text-decoration: none;
  }
  header {
    position: fixed;
    z-index: 2;
    background-color: white;
    display: flex;
    width: 100%;
    height: 95px;
    margin: 0 auto;
    opacity: 0.7;
    .header-container {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      height: 95px;
      .header-left {
        font-size: 24px;
      }

      .header-right {
        @include pc {
          display: flex;
          justify-content: space-around;
        }
        li {
          @include pc {
            margin-left: 10px;
          }
        }
      }

      nav {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateY(-100%);
        transition: all 300ms 0s ease;
        width: 100%;
        font-size: 1.5em;
        // ul {
        //   display: flex;
        //   flex-direction: column;
        //   background-color: rgba(204, 204, 204, 0.8);
        //   width: 100%;
        //   li {
        //     font-size: 1.1em;
        //     width: 100%;
        //     border-bottom: 1px solid #fff;
        //   }
        // }
        .active {
          transition: all 300ms 0s ease;
          transform: translateY(0%);
        }
        @include pc {
          position: relative;
          font-size: 1em;
          width: auto;
          top: 15px;
        }
      }

      .nav-button {
        display: inline-block;
        z-index: 3;
        position: relative;
        width: 38px;
        height: 30px;
        transition: all .4s;
        box-sizing: border-box;
        margin-right: 20px;
        .active {
          transition: all 300ms 0s ease;
          span {
            &:nth-child(1){
              transform: rotateZ(-45deg);
              transform-origin: top right;
            }
            &:nth-child(2){
              opacity: 0;
            }
            &:nth-child(3){
              transform: rotateZ(45deg);
              transform-origin: bottom right;
            }
          }
        }
        span {
          display: inline-block;
          z-index: 3;
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          &:nth-child(2) {
            top: 13px;
          }
          &:nth-child(3) {
            top: 26px;
          }
        }
        @include pc {
          display: none;
          span {
            display: none;
            transition: all .4s;
            box-sizing: border-box;
            margin-right: 20px;
          }
        }
      }

      // .header-right {
      //   @include pc {
      //     display: flex;
      //     justify-content: space-around;
      //
      //   }
      //   nav {
      //     position: fixed;
      //     z-index: 3;
      //     top: 0;
      //     left: 0;
      //     text-align: center;
      //     transform: translateY(-100%);
      //     transition: all 300ms 0s ease;
      //     width: 100%;
      //     font-size: 1.5em;
      //     .active {
      //       transition: all 300ms 0s ease;
      //       transform: translateY(0%);
      //     }
      //     ul {
      //       display: flex;
      //       flex-direction: column;
      //       background-color: rgba(204, 204, 204, 0.8);
      //       width: 100%;
      //       li {
      //         font-size: 1.1em;
      //         width: 100%;
      //         border-bottom: 1px solid #fff;
      //       }
      //     }
      //   }
      //   .nav-button {
      //     display: inline-block;
      //     z-index: 4;
      //     @include pc {
      //       display: none;
      //       transition: all .4s;
      //       box-sizing: border-box;
      //       margin-right: 20px;
      //       position: relative;
      //       width: 38px;
      //       height: 30px;
      //     }
      //     span {
      //       display: inline-block;
      //       z-index: 4;
      //       @include pc {
      //         display: none;
      //         transition: all .4s;
      //         box-sizing: border-box;
      //         margin-right: 20px;
      //         position: absolute;
      //         left: 0;
      //         width: 100%;
      //         height: 4px;
      //         background-color: #000;
      //         border-radius: 4px;
      //       }
      //       &:nth-child(2) {
      //         @include pc {
      //           top: 13px;
      //         }
      //       }
      //       &:nth-child(3) {
      //         @include pc {
      //           top: 26px;
      //         }
      //       }
      //     }
      //     .active {
      //       transition: all 300ms 0s ease;
      //       span {
      //         &:nth-child(1) {
      //           transform: rotateZ(-45deg);
      //           transform-origin: top right;
      //         }
      //         &:nth-child(2) {
      //           opacity: 0;
      //         }
      //         &:nth-child(3) {
      //           transform: rotateZ(45deg);
      //           transform-origin: bottom right;
      //         }
      //       }
      //     }
      //   }
      //
      // }
    }
  }


  main {
    position: relative;
    top: 95px;
    background-color: #FFFDEE;
    .top-page {
      display: flex;
      align-items: center;
      height: 350px;
      background-color: #840202;
      @include pc {
        width: 90%;
        margin: 0 auto;
      }
      .top-page__left {
        display: flex;
        align-items: center;
        width: 50%;
        height: 220px;
        h1 {
          font-size: 40px;
          line-height: 1.5;
          color: white;
          @include pc {
            br {
              &:nth-child(odd) {
                display: none;
              }
            }
          }
        }
      }
      img {
        width: 50%;
        height: 350px;
        object-fit: cover;
      }
    }
    .main-container {
      width: 90%;
      padding-top: 40px;
      margin: 0 auto;
      @include pc {
        width: 70%;
      }
      .work {
        .subtitle {
          @include subtitle-style;
        }
        .work-wrap {
          text-align: center;
          @include pc {
            display: flex;
            justify-content: space-between;
          }
          .work-content {
            padding: 20px 0;
            background-color: white;
            margin-top: 20px;
            @include pc {
              width: 45%;
              margin-top: 0;
            }
          }
          .work-wrap__thumb {
            img {
              width: 90%;
            }
          }
          .work-wrap__text {
            padding-top: 15px;
            line-height: 1.5;
          }
        }
      }
      .profile {
        padding-top: 40px;
        .subtitle {
          @include subtitle-style;
        }
        .my-profile__wrap {
          @include pc {
            display: flex;
            justify-content: space-between;
            .sub-profile {
              @include pc {
                width: 50%;
              }
            }
          }
        }
        .my-profile {
          // display: flex;
          // flex-direction: column;
          text-align: center;
          line-height: 1.5;
          // .avatar {
          //   @include pc {
          //     width: 100%;
          //     height: 35%;
          //   }
          // }
          @include pc {
            width:45%;
          }
          img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            @include pc {
              width: 200px;
              height: 200px;
            }
          }
          .big-text {
              font-size: 24px;
          }
        }
        .self__introduction {
          padding: 20px 0;
          line-height: 1.5;
        }
        table {
          line-height: 1.5;
          th {
            width: 15%;
            text-align: left;
          }
        }
        a {
          margin: 20px auto 0;
          display: flex;
          height: 30px;
          width: 25%;
          justify-content: center;
          align-items: center;
          background-color: #840202;
          color: white;
        }
      }
      .contact {
        padding-top: 40px;
        .subtitle {
          @include subtitle-style;
        }
        .contact-form{
          width: 90%;
          margin: 0 auto;
          padding-bottom: 20px;
          a {
            margin: 20px auto 0;
            display: flex;
            height: 30px;
            width: 30%;
            justify-content: center;
            align-items: center;
            background-color: #4582F5;
            color: white;
          }
        }
      }
    }
  }


}
